### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [136]:
# Count number of unique players
player_total = purchase_data['SN'].nunique()
#display in a tidy df
player_total_df = pd.DataFrame([{"Total Players":player_total}])
player_total_df = player_total_df.set_index("Total Players")
player_total_df

576

Empty DataFrame
Columns: []
Index: [576]

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [102]:
# gather the data into formatted variables

unique_items = purchase_data['Item Name'].nunique()
total_items = purchase_data['Item Name'].count()
average_price = "${:,.2f}".format(purchase_data['Price'].mean())
total_purchases = "${:,.2f}".format(purchase_data['Price'].sum())
median_price = "${:,.2f}".format(purchase_data['Price'].median())

#build df with results using dictionary technique
purchasing_ana_df = pd.DataFrame([{"Total Items Purchased": total_items,
                                   "Total Unique Items Purchased": unique_items, 
                                   "Average Purchase Price": average_price,
                                   "Median Price": median_price,
                                   "Total Revenue": total_purchases,
                                   "": "Summary"}])
purchasing_ana_df = purchasing_ana_df.set_index("")

#display df and double check math
purchasing_ana_df.head()

,Total Items Purchased,Total Unique Items Purchased,Average Purchase Price,Median Price,Total Revenue
,,,,,
Summary,780,179,$3.05,$3.15,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
#generate dfs for each gender category
males = purchase_data[purchase_data["Gender"] == "Male"]
females = purchase_data[purchase_data["Gender"] == "Female"]
unknown_gender = purchase_data[purchase_data["Gender"] == 'Other / Non-Disclosed']

#create variables containing count and percentage of each gender
total_sn = purchase_data['SN'].nunique()

unique_males = males["SN"].nunique()
percent_males = '{:,.2%}'.format(unique_males/total_sn)
unique_females = females["SN"].nunique()
percent_females = '{:,.2%}'.format(unique_females/total_sn)
unique_unknown = unknown_gender["SN"].nunique()
percent_unknown = '{:,.2%}'.format(unique_unknown/total_sn)

#create summary df
gender_demo = pd.DataFrame([[unique_males, percent_males], 
                            [unique_females, percent_females], 
                            [unique_unknown, percent_unknown]],
                            index=["Males", "Females", 'Other / Non-Disclosed'],
                            columns=['Player Count', 'Percentage of Total Players'])

#display and doublecheck
gender_demo.head()

                       Player Count Percentage of Total Players
Males                           484                      84.03%
Females                          81                      14.06%
Other / Non-Disclosed            11                       1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
''' for this section, the next thing I would do in a production environment is build a function for each gender,
which would make altering the code easier and more efficient '''

#male summary data
males_sum = males["Purchase ID"].count()
male_rev = "${:,.2f}".format(round(males['Price'].sum(),2))
males_mean_price = "${:,.2f}".format(round(males['Price'].mean(),2))
mean_price_per_male = "${:,.2f}".format(round(males['Price'].sum()/males["SN"].nunique(),2))

#female summary data
females_sum = females["Purchase ID"].count()
females_rev = "${:,.2f}".format(round(females['Price'].sum(),2))
females_mean_price = "${:,.2f}".format(round(females['Price'].mean(),2))
mean_price_per_female = "${:,.2f}".format(round(females['Price'].sum()/females["SN"].nunique(),2))


#unknown gender summary data
unknown_sum = unknown_gender["Purchase ID"].count()
unknown_rev = "${:,.2f}".format(round(unknown_gender['Price'].sum(),2))
unknown_mean_price = "${:,.2f}".format(round(unknown_gender['Price'].mean(),2))
mean_price_per_unknown = "${:,.2f}".format(round(unknown_gender['Price'].sum()/unknown_gender["SN"].nunique(),2))

#generate summary df using above variables in lists
gender_summary = pd.DataFrame([[males_sum, male_rev, males_mean_price, unique_males, mean_price_per_male], 
                               [females_sum, females_rev, females_mean_price, unique_females, mean_price_per_female], 
                               [unknown_sum, unknown_rev, unknown_mean_price, unique_unknown, mean_price_per_unknown ]],
                              index=["Males", "Females", 'Other / Non-Disclosed'],
                              columns=['Purchase Count', 'Total Revenue','Mean Price', 'Unique SNs','Mean Price Per SN'])

#display and double check
gender_summary.head()

,Purchase Count,Total Revenue,Mean Price,Unique SNs,Mean Price Per SN
Males,652,"$1,967.64",$3.02,484,$4.07
Females,113,$361.94,$3.20,81,$4.47
Other / Non-Disclosed,15,$50.19,$3.35,11,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [148]:
#establish the bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">39"]

#add Age Summary Column, and use the Age column to populate the Age Summary Column
purchase_data["Age Summary"] = pd.cut(purchase_data["Age"], bins=bins, labels=bin_names, include_lowest=True)


grouped_age = purchase_data.groupby("Age Summary")
unique_sn = grouped_age["SN"].nunique()
percentage_by_age = unique_sn/(player_total)*100
age_demo_table = pd.merge(unique_sn, percentage_by_age, on="Age Summary", how='outer')
final_age_demo = age_demo_table.rename(columns = {'SN_x': "Player Count",
                                                 'SN_y': 'Percent of Total'})
final_age_demo['Percent of Total'] = final_age_demo['Percent of Total'].map("{:.2f}%".format)
final_age_demo.head(8)

             Player Count Percent of Total
Age Summary
<10                    17            2.95%
10-14                  22            3.82%
15-19                 107           18.58%
20-24                 258           44.79%
25-29                  77           13.37%
30-34                  52            9.03%
35-39                  31            5.38%
>39                    12            2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [185]:
#Continue establishing variables w/ metrics
purchase_count = grouped_age['Purchase ID'].count()
average_purchase_price = grouped_age['Price'].mean()
total_purchase_value = grouped_age['Price'].sum()
purchase_per_sn = total_purchase_value/unique_sn

#use method chaining to merge above variables and rename columns in one line
age_purchase_demo = pd.merge(purchase_count.rename('Purchase Count'), average_purchase_price.rename('Average Price'), on='Age Summary', how='outer').merge(total_purchase_value.rename("Total Rev"), on='Age Summary', how='outer').merge(purchase_per_sn.rename('Avg Purchase Per Person'), on='Age Summary', how='outer')

#format table using map
age_purchase_demo['Average Price'] = age_purchase_demo['Average Price'].map("${:.2f}".format)
age_purchase_demo['Total Rev'] = age_purchase_demo['Total Rev'].map("${:.2f}".format)
age_purchase_demo['Avg Purchase Per Person'] = age_purchase_demo['Avg Purchase Per Person'].map("${:.2f}".format)

#display and double check
age_purchase_demo.head(8)

             Purchase Count Average Price Total Rev Avg Purchase Per Person
Age Summary
<10                      23         $3.35    $77.13                   $4.54
10-14                    28         $2.96    $82.78                   $3.76
15-19                   136         $3.04   $412.89                   $3.86
20-24                   365         $3.05  $1114.06                   $4.32
25-29                   101         $2.90   $293.00                   $3.81
30-34                    73         $2.93   $214.00                   $4.12
35-39                    41         $3.60   $147.67                   $4.76
>39                      13         $2.94    $38.24                   $3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [245]:
#group the data by sn
sn_group = purchase_data.groupby('SN')

#create variables to store calculated values
sn_purchase_value = sn_group['Price'].sum()
sn_purchase_count = sn_group['Purchase ID'].count()
sn_average_price = sn_purchase_value/sn_purchase_count

#merge the variables
sn_table = pd.merge(sn_purchase_value.rename('Total Rev'), sn_purchase_count.rename('Purchase Count'), on='SN', how='outer').merge(sn_average_price.rename('Avg Price'), on='SN', how='outer')

#sort the table
sn_table = sn_table.sort_values('Total Rev', ascending=False)

#format the table
sn_table['Total Rev'] = sn_table['Total Rev'].map("${:.2f}".format)
sn_table['Avg Price'] = sn_table['Avg Price'].map("${:.2f}".format)

#display and doublecheck
sn_table.head(10)

             Total Rev  Purchase Count Avg Price
SN
Lisosia93       $18.96               5     $3.79
Idastidru52     $15.45               4     $3.86
Chamjask73      $13.83               3     $4.61
Iral74          $13.62               4     $3.40
Iskadarya95     $13.10               3     $4.37
Ilarin91        $12.70               3     $4.23
Ialallo29       $11.84               3     $3.95
Tyidaim51       $11.83               3     $3.94
Lassilsala30    $11.51               3     $3.84
Chadolyla44     $11.46               3     $3.82

# Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [242]:
#group the data by item ID and select the columns

item_df = purchase_data[['Item ID', 'Price', 'Item Name']].copy()
item_group = purchase_data.groupby(['Item ID', 'Item Name'])

#create variables and store the calculated values
item_purchase_count = item_group['Item ID'].count()
item_total_rev = item_group['Price'].sum()
avg_item_price = item_group['Price'].mean()

#create summary table
most_popular_items = pd.DataFrame(({'Purchase Count': item_purchase_count,
                                   'Item Price': avg_item_price,
                                   'Item Total Revenue': item_total_rev}))



#sort descending by purchase count
sorted_popular = most_popular_items.sort_values(['Purchase Count'], ascending=False)

#format table
sorted_popular['Item Price'] = sorted_popular['Item Price'].map("${:.2f}".format)
sorted_popular['Item Total Revenue'] = sorted_popular['Item Total Revenue'].map("${:.2f}".format)

#display and double check
sorted_popular.head(10)

,,Purchase Count,Item Price,Item Total Revenue
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
34,Retribution Axe,8,$2.22,$17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [243]:
#resort popular and store in new variable
sorted_highest_rev = most_popular_items.sort_values(['Item Total Revenue'], ascending = False)

#format
sorted_highest_rev['Item Price'] = sorted_highest_rev['Item Price'].map("${:.2f}".format)
sorted_highest_rev['Item Total Revenue'] = sorted_highest_rev['Item Total Revenue'].map("${:.2f}".format)

#display and doublecheck
sorted_highest_rev.head(10)

,,Purchase Count,Item Price,Item Total Revenue
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
132,Persuasion,9,$3.22,$28.99